body {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Cookie';
}
.logo {
	padding-top: 20px;
}
.logo h2{
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}
.menu-area{
    background: #000;
}

.menu-area h2 a:hover{
    text-decoration: none;
    color: yellow;
}
.menu-area h2 a{
    font-size: 20px;
    display: block;
    color: #fff;
}
.main-menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
}
.main-menu ul li{
    display: inline-block;
    margin-left: 18px;
}
.main-menu ul li a{
    display: block;
    color: #fff;
    padding: 20px 20px;
}
.main-menu ul li a:hover{
    text-decoration: none;
    color: yellow;
}
.col-md-12 h3{
  font-size: 20px;
  color: #fff;
}
.col-md-12 h4{
  font-size: 20px;
  color: #fff;
}




.header-area{
    background: url(../images/myphoto.jpg);
    min-height: 600px;
    background-size: cover;
    background-position: center center;
}
.header-text h1{
    font-size: 100px;
    color: #fff;
    font-weight: 900;
}
.header-text h2{
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    margin: 0;
}
.header-text a{
    display: inline-block;
    font-size: 18px;
    color: #000;
    font-weight: 400;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    margin-top: 20px;
}
.header-text a:hover{
    background: yellow;
    color: #000;
    text-decoration: none;
}
